@import "tailwindcss";

/* Start Global Rules */
:root {
    --blue-color: #2196f3;
    --green-color: #4caf50;
    --red-color: #f44336;
    --main-border-radius: 10px;
}
.main-btn {
    background-color: var(--blue-color);
    color: #fff;
    font-weight: bold;
    border-radius: var(--main-border-radius);
    cursor: pointer;
}
/* Start Global Rules */

/* Start Authentication page */
.active-btn {
    background-color: #fff;
    color: #000;
}
/* End Authentication page */

nav {
    button {
        cursor: pointer;
        padding: 10px 0;
        &:hover {
            background-color: var(--blue-color);
            color: #fff;
            font-weight: bold;
            border-radius: var(--main-border-radius);
        }
    }
}

.page-content > div {
    width: 100%;
    position: absolute;
    left: 150%;
    transition: 0.3s;
    &.show-page {
        left: 0;
    }
}

#update-learner {
    background-color: var(--green-color);
}
#delete-learner {
    background-color: var(--red-color);
}
